<section class="py-6 py-md-6 mb-lg-5 {{classList}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center" data-aos="fade-up">

        <!-- Badge -->
        <span class="badge rounded-pill text-bg-primary-desat-subtle mb-8">
          <span class="h6 text-uppercase">As Seen On:</span>
        </span>

      </div>
    </div> <!-- / .row -->
    <div class="row align-items-center justify-content-center">
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- FOX -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0" style="height: 40px;">
          {{> logotype/fox}}
        </div>

      </div>
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- CNN -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0 mh-50" style="height: 40px;">
          {{> logotype/cnn}}
        </div>

      </div>
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- ABC -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0" style="height: 60px;">
          {{> logotype/abc}}
        </div>

      </div>
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- NBC -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0" style="height: 60px;">
          {{> logotype/nbc}}
        </div>

      </div>
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- CBS -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0">
          {{> logotype/cbs}}
        </div>

      </div>
      <div class="col-4 col-md-2 mb-6 mb-md-0">

        <!-- USA TODAY -->
        <div class="img-fluid text-gray-600 mb-2 mb-md-0">
          {{> logotype/usa-today}}
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>