<footer class="pt-8 pt-md-11 pb-5 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="{{webRoot}}/assets/img/american-hail-relief-logo-blue.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          American Hail Relief
        </p>

        <!-- Social -->


      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Navigation
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-6 mb-md-8 mb-lg-0">
          <li>
            <a href="{{webRoot}}" class="text-reset">
              Home
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Services
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-6 mb-md-8 mb-lg-0">
          <li>
            <a href="{{webRoot}}/get-free-hail-repair.html" class="text-reset">
              Free Hail Repair
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Support
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-0">
          <li>
            <a href="{{webRoot}}/contact.html" class="text-reset">
              Contact Us
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-body-secondary mb-0">
          <li>
            <a href="{{webRoot}}/privacy-policy.html" class="text-reset">
              Privacy Policy
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
    <div class="row text-center text-gray-700 mt-10">
      <small>Copyright © American Hail Relief</small>
    </div>
  </div> <!-- / .container -->
</footer>