//
// user.scss
// Use this to write your custom SCSS
//

.navbar-brand-img {
  max-height: 3.1rem;
}

.footer-brand {
  max-height: 4rem;
}

.text-primary.underline {
  border-bottom: 3px solid rgba(11, 85, 142, 0.2);
}

.text-primary-desat.underline {
  border-bottom: 3px solid rgba(91, 168, 227, 0.2);
}

.text-success.underline {
  border-bottom: 3px solid rgba(66, 186, 150, 0.2);
}

.text-danger.underline {
  border-bottom: 3px solid rgba(223, 71, 89, 0.2);
}

.badge span {
  font-weight: 800;
}

#content1, #content2 {
  transition: opacity 0.5s ease;
}

#content2 {
  display: none;
}